[submodule "themes/corporio"]
	path = themes/corporio
	url = https://github.com/AminZibayi/Corporio.git
[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
